<?xml version="1.0" encoding="utf-8"?>
<packages> 
  <!-- Node.js (LTS inclut la v16+, actuellement v20+) -->
  <package id="nodejs-lts" />
  <!-- Lecteur multimédia MPV -->
  <package id="mpv" />
  <!-- FFmpeg (inclut FFprobe) -->
  <package id="ffmpeg" />
  <!-- yt-dlp pour le téléchargement vidéo -->
  <package id="yt-dlp" />
</packages>